{% extends 'base.html.twig' %}

{% block title %}ToDo List | {{ parent() }}{% endblock %}

{% block body %}

    <section class="header">
        <img src="{{ asset('img/bg-desktop-dark.jpg') }}"  alt="Header"/>
    </section>

    <section class="todo_main">
        <header>
            <h1>ToDo</h1>
            <img src="{{ asset('img/icon-sun.svg') }}" alt="LightMode" />
        </header>
    </section>

{% endblock %}